.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 30px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
.restart{
  width: 100px;
}

li {
  margin: 10px;
}

.container{
  margin: auto;
  margin-bottom: 10px;
  padding-bottom: 40px;
  padding-top: 20px;
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  box-shadow: 12px 11px 56px -14px rgba(170, 170, 170, 0.75);
}

.listDisplay{
  width: 20%;
  border-right: 1px solid #ecc4ff;
}

.actionDisplay{
  width: 75%;
}
